[tool.poetry]
name = "fayouts"
version = "1.1.0"
description = "Fayouts can do a lot, but they are just a tool"
authors = ["Fakem1ner <87234992+Fakeminer@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
